header {
    margin: 1.25rem auto;
    max-width: width 760px;
    background-color: maroon;
    color: seashell;
    text-align: center;
}

h1 {
    font-family: 'Amatic SC', cursive;

}

p {
    border: 1px solid;
    padding: unset;
    background-color: #ddd;
    text-align: justify;
    font-family: 'Caveat', cursive;

}